<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Github Accounts - Abby Jane - Notes</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link href="../../css/codehilite.css" rel="stylesheet">
        <link href="../../css/solarized-light.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css">

        <script src="../../js/jquery-1.10.2.min.js" defer></script>
        <script src="../../js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">Abby Jane - Notes</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thoughts <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../thoughts/on-identity/" class="dropdown-item">On Identity</a>
</li>
                                    
<li>
    <a href="../../thoughts/her-words/" class="dropdown-item">Her Words</a>
</li>
                                    
<li>
    <a href="../../thoughts/nyc-police-transit/" class="dropdown-item">New York City, Police, Transit, and Thoughts</a>
</li>
                                    
<li>
    <a href="../../thoughts/queer-soup-monthly/" class="dropdown-item">Queer Soup Monthly</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CLI Scripts <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../cli_scripts/create-local-git-repository/" class="dropdown-item">Create local git repository</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Fragments <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../media/" class="dropdown-item">Media</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active">Github Accounts</a>
</li>
                                    
<li>
    <a href="../midwest/" class="dropdown-item">The Midwest</a>
</li>
                                    
<li>
    <a href="../old-scripts/" class="dropdown-item">Old Scripts</a>
</li>
                                    
<li>
    <a href="../macros/" class="dropdown-item">Macros Test</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Guides <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../guides/scores_site/" class="dropdown-item">Scores Site Instructions</a>
</li>
                                    
<li>
    <a href="../../guides/markdown-cheat-sheet/" class="dropdown-item">Macro Syntax Error</a>
</li>
                                    
<li>
    <a href="../../guides/caddy/" class="dropdown-item">Caddy Migration</a>
</li>
                                    
<li>
    <a href="../../guides/css-formatting/" class="dropdown-item">CSS Formatting</a>
</li>
                                    
<li>
    <a href="../../guides/drupal-install/" class="dropdown-item">Drupal Install</a>
</li>
                                    
<li>
    <a href="../../guides/gender-change-letter-iowa/" class="dropdown-item">Gender Designation Change Letter (Iowa)</a>
</li>
                                    
<li>
    <a href="../../guides/medicine-vitamin-schedule/" class="dropdown-item">Medicine and Vitamin Schedule</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Reading <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../reading/taoteching/" class="dropdown-item">Ethical Taoist Reading List</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Constitutional Amendments <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../constitutional_amendments/pardon/" class="dropdown-item">Pardon Power Accountability Amendment</a>
</li>
                                    
<li>
    <a href="../../constitutional_amendments/vesting/" class="dropdown-item">Vesting Clause Amendment</a>
</li>
                                    
<li>
    <a href="../../constitutional_amendments/jurisdiction/" class="dropdown-item">Judicial Access Amendment</a>
</li>
                                    
<li>
    <a href="../../constitutional_amendments/14th-amendment-restoration/" class="dropdown-item">Fourteenth Amendment Restoration</a>
</li>
                                    
<li>
    <a href="../../constitutional_amendments/amending-amendment/" class="dropdown-item">Amending Amendment</a>
</li>
                                    
<li>
    <a href="../../constitutional_amendments/repeal-eleventh/" class="dropdown-item">11th Amendment Repeal</a>
</li>
                                    
<li>
    <a href="../../constitutional_amendments/revised-era/" class="dropdown-item">Revised Equal Rights Amendment</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Court Cases <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../court_cases/morton-v-psu/" class="dropdown-item">Morton v. Pennsylvania State University, et.al.</a>
</li>
                                    
<li>
    <a href="../../court_cases/csj/" class="dropdown-item">Thoughts on eventual Cross Summary Judgement Motions</a>
</li>
                                    
<li>
    <a href="../../court_cases/rule12b/" class="dropdown-item">Thoughts on the impending Rule 12(b) Motion to Dismiss</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Vacation <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Sportsball Europe 2026</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../vacation/sportsball_europe_2026/planning/" class="dropdown-item">Planning Checklist</a>
</li>
            
<li>
    <a href="../../vacation/sportsball_europe_2026/schedule/" class="dropdown-item">Schedule</a>
</li>
            
<li>
    <a href="../../vacation/sportsball_europe_2026/cricket/" class="dropdown-item">Cricket Scoring</a>
</li>
            
<li>
    <a href="../../vacation/sportsball_europe_2026/football/" class="dropdown-item">Football</a>
</li>
            
<li>
    <a href="../../vacation/sportsball_europe_2026/lords-etiquette/" class="dropdown-item">Lord's Etiquette</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Japanese Birthday</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../vacation/japanese_birthday/schedule/" class="dropdown-item">Schedule</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Work <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Grinnell College</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../work/grinnell-college/colleague/" class="dropdown-item">Colleague</a>
</li>
            
<li>
    <a href="../../work/grinnell-college/overview-systems/" class="dropdown-item">Overview - Grinnell College</a>
</li>
            
<li>
    <a href="../../work/grinnell-college/transition-grinnell/" class="dropdown-item">Transition at Grinnell College</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Theory</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../work/theory/de-customization/" class="dropdown-item">De-Customization</a>
</li>
            
<li>
    <a href="../../work/theory/high-reliability/" class="dropdown-item">High reliability</a>
</li>
            
<li>
    <a href="../../work/theory/overriding-beliefs/" class="dropdown-item">Overriding Beliefs</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../media/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../midwest/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        <li class="nav-item">
                          <a href="../../tags.html" class="nav-link">
                            <i class="fa fa-tags"></i> Tags
                          </a>
                        </li>

                      <!---->
                        <!---->
                      <!---->
                    </ul>
                </div>
            </div>
        </div>

        <div class="container col-md-8">
              <div class="zettel">
    
    <div class="file-header">
      <div class="row align-items-center">
        <div class="col-8">
          
        </div>
        <div class="col-4 text-right date">
              <span data-tooltip="Edit zettel's source">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </span>
          
        </div>
      </div>
    </div>
    
    <div class="file-body">
      <h1 id="github-accounts">Github Accounts<a class="headerlink" href="#github-accounts" title="Permanent link">&para;</a></h1>
<p><strong>A non-exhaustive list of github users to follow</strong></p>
<h2 id="static-sites-jekyll-boring-but-elegant-web">🧱 Static sites, Jekyll, “boring but elegant” web<a class="headerlink" href="#static-sites-jekyll-boring-but-elegant-web" title="Permanent link">&para;</a></h2>
<p><strong>GitHub Pages–adjacent, clean, sane people</strong></p>
<p><br></p>
<ul>
<li>
<p>@github/pages-gem</p>
<ul>
<li>The canonical reference for what GitHub Pages actually supports. If something breaks locally vs Pages, this repo usually explains why.</li>
</ul>
</li>
<li>
<p>@jekyll</p>
<ul>
<li>Not flashy, but good signal on where Jekyll is going (and not going).</li>
</ul>
</li>
<li>
<p>@mmistakes (Michael Rose)</p>
<ul>
<li>Author of Minimal Mistakes theme, but more importantly: excellent examples of disciplined Jekyll structure and documentation.</li>
</ul>
</li>
<li>
<p>@simonw (Simon Willison)</p>
<ul>
<li>Static sites, personal publishing, data → HTML pipelines, zero BS. Very much your “small tools, sharp edges” vibe.</li>
</ul>
</li>
</ul>
<h2 id="documentation-writing-developer-ergonomics">📝 Documentation, writing, developer ergonomics<a class="headerlink" href="#documentation-writing-developer-ergonomics" title="Permanent link">&para;</a></h2>
<p><strong>People who treat docs as first-class</strong></p>
<p><br></p>
<ul>
<li>
<p>@danielecook</p>
<ul>
<li>Thoughtful writing about docs, tooling, and long-lived systems.</li>
</ul>
</li>
<li>
<p>@docwhat</p>
<ul>
<li>Docs, accessibility, clarity, and technical writing culture.</li>
</ul>
</li>
<li>
<p>@wilfred</p>
<ul>
<li>Known for diff tooling and thoughtful posts on developer experience.</li>
</ul>
</li>
<li>
<p>@karlhorky</p>
<ul>
<li>Rails-y background, but very strong opinions about maintainable docs and tooling.</li>
</ul>
</li>
</ul>
<h2 id="python-practical-not-hype">🐍 Python (practical, not hype)<a class="headerlink" href="#python-practical-not-hype" title="Permanent link">&para;</a></h2>
<ul>
<li>
<p>@kennethreitz</p>
<ul>
<li>Requests, Pipenv, tooling that favors humans.</li>
</ul>
</li>
<li>
<p>@tiangolo</p>
<ul>
<li>FastAPI, excellent README hygiene, great examples of API documentation done right.</li>
</ul>
</li>
<li>
<p>@nvbn</p>
<ul>
<li>Small sharp Python tools, often very readable.</li>
</ul>
</li>
</ul>
<h2 id="rust-approachable-not-macho">🦀 Rust (approachable, not macho)<a class="headerlink" href="#rust-approachable-not-macho" title="Permanent link">&para;</a></h2>
<p><strong>Since you’ve been flirting with Rust but not in a “rewrite the world” way:</strong></p>
<p><br></p>
<ul>
<li>
<p>@burntsushi (Andrew Gallant)</p>
<ul>
<li>Rust done responsibly. Deep explanations, zero hype, lots of text processing.</li>
</ul>
</li>
<li>
<p>@dtolnay</p>
<ul>
<li>Procedural macros, Serde internals — heavy stuff, but impeccably documented.</li>
</ul>
</li>
<li>
<p>@matklad</p>
<ul>
<li>Rust analyzer, thoughtful design writing, very “engineer’s engineer.”</li>
</ul>
</li>
</ul>
<h2 id="unix-devops-infra-minimalism">🧰 Unix, DevOps, infra minimalism<a class="headerlink" href="#unix-devops-infra-minimalism" title="Permanent link">&para;</a></h2>
<p><strong>People who hate unnecessary complexity:</strong></p>
<p><br></p>
<ul>
<li>
<p>@jpetazzo</p>
<ul>
<li>Containers, infra history, thoughtful critiques of trends.</li>
</ul>
</li>
<li>
<p>@iximiuz</p>
<ul>
<li>Excellent explainer repos on Linux, containers, networking.</li>
</ul>
</li>
<li>
<p>@leandromoreira</p>
<ul>
<li>Computer architecture explainers that are actually readable.</li>
</ul>
</li>
</ul>
    </div>
    
  </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Zettelkasten built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        <script src="../../js/base.js" defer></script>
        <script src="../../js/copyable.js" defer></script>
          <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search the entire zettelkasten. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
